
html {
  box-sizing: border-box;
}

body {
  background: #4e7395;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #021229, #4e7395);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #021229, #4e7395);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  background-color: silver;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(94, 94, 94);
  border-radius: 5px;
}
/* 
ul {
  list-style: none;
  padding: none;
  margin: none;
}

span.result {
  position: relative;
  width: 100%;
}

.result-enter {
  transition: .5s;
}

.result-enter .result-enter-active {
  transform: translateY(0%);
}

.result-exit {
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}

.result-exit-active {
  opacity: 0;
  transform: translateY(-10%);
} */